<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width'>

  <title>{{ title }}</title>
  <meta name='description' content="{{ desc }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
  {% include "_partials/fonts.liquid" %}
  {% include "_partials/favicons.liquid" %}
<!--Opengraph-->
  <meta property="og:title" content="{{ data.title }}" />
  <meta property="og:url" content="{{ page.url }}" />
  {% if tags %}
  <meta property="og:image" content="{{ site.url }}/assets/img/og/{{ data.title | slug }}-preview.jpeg" />
  <meta property="og:image:secure_url" content="{{ site.url }}/assets/img/og/{{ data.title | slug }}-preview.jpeg" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/img/default-preview.jpeg" />
  <meta property="og:image:secure_url" content="{{ site.url }}/img/default-preview.jpeg" />
  {% endif %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ site.twitter-s }}" />
  <meta name="twitter:creator" content="{{ site.twitter-s }}" />
  <!--styles-->
  <link href="/assets/styles/tailwind.css" rel="stylesheet" />
  
  <!--Scripts-->
  <script>
    const isDarkMode = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia(
      '(prefers-color-scheme: dark)').matches);
    if (isDarkMode()) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
</head>

<body class="dark:text-mk-white dark:bg-mk-background">
  <header>
    {% include "_partials/nav.liquid" %}
  </header>
  <main>

    {{ content }}

  </main>

  {% include "_partials/footer.liquid" %}
  <script>
    document.getElementById("toggleDarkMode").addEventListener("change", function () {
      if (isDarkMode()) {
        localStorage.theme = 'light'
        document.documentElement.classList.remove('dark')
      } else {
        localStorage.theme = 'dark'
        document.documentElement.classList.add('dark')
      }
    });
  </script>
  <script src="/assets/scripts/jquery.min.js"></script>
  <script src="/assets/scripts/fotorama.min.js"></script>
</body>

</html>