<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width'>

  <title>{{ title }}</title>
  <meta name='description' content="{{ desc }}">

  <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
  {% include "_partials/fonts.liquid" %}
  {% include "_partials/favicons.liquid" %}

  <!--styles-->
  <link href="/assets/styles/tailwind.css" rel="stylesheet" />
  
  <!--Scripts-->
  <script>
    const isDarkMode = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia(
      '(prefers-color-scheme: dark)').matches);
    if (isDarkMode()) {
      document.documentElement.classList.add('dark')
      document.querySelector('div.likely').classList.add('likely-light')
    } else {
      document.documentElement.classList.remove('dark')
      document.querySelector('div.likely').classList.remove('likely-light')

    }
  </script>
</head>

<body class="dark:text-mk-white dark:bg-mk-background">
  <header>
    {% include "_partials/nav.liquid" %}
  </header>
  <main>

    {{ content }}

  </main>

  {% include "_partials/footer.liquid" %}
  <script>
    document.getElementById("toggleDarkMode").addEventListener("change", function () {
      if (isDarkMode()) {
        localStorage.theme = 'light'
        document.documentElement.classList.remove('dark')
        document.querySelector('div.likely').classList.remove('likely-light')
      } else {
        localStorage.theme = 'dark'
        document.documentElement.classList.add('dark')
        document.querySelector('div.likely').classList.add('likely-light')
      }
    });
  </script>
  <script src="/assets/scripts/jquery.min.js"></script>
  <script src="/assets/scripts/fotorama.min.js"></script>
</body>

</html>