<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  	<meta name='viewport' content='width=device-width'>

    <title>{{ title }}</title>
    <meta name='description' content="{{ desc }}">

    <!--links-->
    <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
  {% include "_partials/fonts.liquid" %}
  {% include "_partials/favicons.liquid" %}
    <!--styles-->
    <link href="/assets/styles/tailwind.css" rel="stylesheet" />
    <script>
      const isDarkMode = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
      if (isDarkMode()) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
 
<body class="text-mk-background bg-white dark:text-mk-white dark:bg-mk-background"> 
    <header>
      {% include "_partials/nav.liquid" %}
    </header>
      <main>
        
        {{ content }}
      
      </main>
      
      {% include "_partials/footer.liquid" %}

      <script>
        document.getElementById("toggleDarkMode").addEventListener("change", function() {
          if (isDarkMode()) {
            localStorage.theme = 'light'
            document.documentElement.classList.remove('dark')
          } else {
            localStorage.theme = 'dark'
            document.documentElement.classList.add('dark')
          }
        });
      </script>
  </body>
</html>