---
layout: base
title: Про Диму Фурье
desc: Все везде и сразу про Диму Фурье
permalink: /Everything-Everywhere-All-at-Once.html

---

<h2>Все везде и сразу про Диму Фурье</h2>
<p>Операционный директор: навожу порядок в бизнес-процессах, коммуникациях команд, и производстве результатов. Пишу <a
    href="http://furye.ru/posts/">заметки</a> про развитие команд </p>

<p>Развиваю <a href="https://adesk.ru/?pc=a82b9">Adesk</a>, в прошлом финансовый директор в <a
    href="https://noboring-finance.ru/">Нескучных финансах</a></p>

<div class="flex flex-wrap">
  <div>
    <h2 class="text-base">Соцсеточки</h2>
    <ul class="everything">
      <li><i class="lab la-facebook"></i> <a href="{{ site.facebook }}">Фэйсбук</a></li>
      <li><i class="lab la-vk"></i><a href="{{ site.vk }}">Вконтакте</a></li>
      <li><i class="lab la-instagram"></i> <a href="{{ site.instagram }}">Инстаграм</a></li>
      <li><i class="lab la-telegram"></i> <a href="{{ site.telegram-c }}">Телеграм</a></li>
      <li><i class="lab la-twitter-square"></i> <a href="{{ site.twitter }}">Твиттер</a></li>
      <li><i class="lab la-mastodon"></i> <a href="{{ site.mastodon }}">Мастодон</a></li>
      <li><i class="lab la-spotify"></i> <a href="{{ site.spotify }}">Спотифай</a></li>
      <li><i class="lab la-youtube"></i> <a href="{{ site.youtube }}">Ютуб</a></li>
      <li><i class="lab la-reddit"></i> <a href="{{ site.reddit }}">Реддит</a></li>
      <li><i class="las la-book"></i><a href="{{ site.bookmate }}">Букмэйт</a></li>
      <li><i class="las la-tv"></i> <a href="{{ site.myshows }}">MyShows</a></li>
      <li><i class="las la-beer"></i> <a href="{{ site.myshows }}">Untappd</a></li>
      <li><i class="lab la-pinterest"></i> <a href="{{ site.pinterest }}">Pinterest</a></li>

    </ul>
  </div>
  <div>
    <h2 class="text-base">Поиграть</h2>
    <ul class="everything">
      <li><i class="lab la-steam"></i> <a href="{{ site.steam }}">Стим</a></li>
      <li><i class="lab la-xbox"></i> <a href="{{ site.xbox }}">ИксБокс</a></li>
      <li><i class="lab la-twitch"></i> <a href="{{ site.twitch }}">Твич</a></li>
      <li><i class="lab la-discord"></i> <a href="{{ site.discord }}">Дискорд</a></li>
      <li><i class="las la-gamepad"></i> <a href="{{ site.egs }}">ЭпикГеймз</a></li>
      <li><i class="lab la-battle-net"></i> BrewmasterMo#2432</li>
    </ul>

  </div>
  <div>
    <h2 class="text-base">Рабочее</h2>
    <ul class="everything">
      <li><i class="lab la-github"></i> <a href="{{ site.github }}">Гитхаб</a></li>
      <li><i class="lab la-figma"></i> <a href="{{ site.figma }}">Фигмa</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>
</div>