---
layout: base
title: ะัะพ ะะธะผั ะคัััะต
desc: ะัะต ะฒะตะทะดะต ะธ ััะฐะทั ะฟัะพ ะะธะผั ะคัััะต ๐
permalink: /Everything-Everywhere-All-at-Once
changefreq: monthly
priority: "0.5"
---

<h2>ะัะต ะฒะตะทะดะต ะธยััะฐะทั ะฟัะพยะะธะผั ะคัััะต</h2>
<p>ะะฟะตัะฐัะธะพะฝะฝัะน ะดะธัะตะบัะพั: ะฝะฐะฒะพะถั ะฟะพััะดะพะบ ะฒ ะฑะธะทะฝะตั-ะฟัะพัะตััะฐั, ะบะพะผะผัะฝะธะบะฐัะธัั ะบะพะผะฐะฝะด, ะธ ะฟัะพะธะทะฒะพะดััะฒะตยัะตะทัะปััะฐัะพะฒ. ะะธัั <a
    href="http://furye.ru/posts/">ะทะฐะผะตัะบะธ</a> ะฟัะพ ัะฐะทะฒะธัะธะต ะบะพะผะฐะฝะด </p>

<p>ะะฐะทะฒะธะฒะฐั <a href="https://adesk.ru/?pc=a82b9">Adesk</a>, ะฒ ะฟัะพัะปะพะผ ัะธะฝะฐะฝัะพะฒัะน ะดะธัะตะบัะพั ะฒ <a
    href="https://noboring-finance.ru/">ะะตัะบััะฝัั ัะธะฝะฐะฝัะฐั</a></p>

<div class="flex flex-wrap">
  <div>
    <h2 class="text-base">ะกะพััะตัะพัะบะธ</h2>
    <ul class="everything">
      <li><i class="lab la-facebook"></i>ย<a href="{{ site.facebook }}">ะคัะนัะฑัะบ</a></li>
      <li><i class="lab la-vk"></i><a href="{{ site.vk }}">ะะบะพะฝัะฐะบัะต</a></li>
      <li><i class="lab la-instagram"></i>ย<a href="{{ site.instagram }}">ะะฝััะฐะณัะฐะผ</a></li>
      <li><i class="lab la-telegram"></i>ย<a href="{{ site.telegram-c }}">ะขะตะปะตะณัะฐะผ</a></li>
      <li><i class="lab la-twitter-square"></i>ย<a href="{{ site.twitter }}">ะขะฒะธััะตั</a></li>
      <li><i class="lab la-mastodon"></i>ย<a href="{{ site.mastodon }}">ะะฐััะพะดะพะฝ</a></li>
      <li><i class="lab la-spotify"></i>ย<a href="{{ site.spotify }}">ะกะฟะพัะธัะฐะน</a></li>
      <li><i class="lab la-youtube"></i>ย<a href="{{ site.youtube }}">ะฎััะฑ</a></li>
      <li><i class="lab la-reddit"></i>ย<a href="{{ site.reddit }}">ะะตะดะดะธั</a></li>
      <li><i class="las la-book"></i><a href="{{ site.bookmate }}">ะัะบะผัะนั</a></li>
      <li><i class="las la-tv"></i>ย<a href="{{ site.myshows }}">MyShows</a></li>
      <li><i class="las la-beer"></i>ย<a href="{{ site.myshows }}">Untappd</a></li>
      <li><i class="lab la-pinterest"></i>ย<a href="{{ site.pinterest }}">Pinterest</a></li>

    </ul>
  </div>
  <div>
    <h2 class="text-base">ะะพะธะณัะฐัั</h2>
    <ul class="everything">
      <li><i class="lab la-steam"></i>ย<a href="{{ site.steam }}">ะกัะธะผ</a></li>
      <li><i class="lab la-xbox"></i>ย<a href="{{ site.xbox }}">ะะบัะะพะบั</a></li>
      <li><i class="lab la-twitch"></i>ย<a href="{{ site.twitch }}">ะขะฒะธั</a></li>
      <li><i class="lab la-discord"></i>ย<a href="{{ site.discord }}">ะะธัะบะพัะด</a></li>
      <li><i class="las la-gamepad"></i>ย<a href="{{ site.egs }}">ะญะฟะธะบะะตะนะผะท</a></li>
      <li><i class="lab la-battle-net"></i>ยBrewmasterMo#2432</li>
    </ul>

  </div>
  <div>
    <h2 class="text-base">ะะฐะฑะพัะตะต</h2>
    <ul class="everything">
      <li><i class="lab la-github"></i>ย<a href="{{ site.github }}">ะะธััะฐะฑ</a></li>
      <li><i class="lab la-figma"></i>ย<a href="{{ site.figma }}">ะคะธะณะผa</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>
</div>